body {
  background-color: #f1efef; /* Dark background */
  color: #ffffff; /* White text */
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

h1 {
  color: #4CAF50;
  margin-bottom: 20px;
}

.input-container {
  margin-bottom: 20px;
}

p {
  color: #474747; /* Gray color for the paragraph text */
}

input[type="text"] {
  background-color: #5c5c5c;
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 25px;
  width: 300px;
  font-size: 16px;
}

input[type="text"]::placeholder {
  color: #ffffff; /* Lighter gray for placeholder text */
}

.container img {
  max-width: 250px; /* Adjust this value as needed */
  height: auto; /* This maintains the aspect ratio */
  display: block;
  margin: 0 auto; /* Center the image */
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  background-color: #4CAF50; /* Green background */
  color: white; /* White text */
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #45a049; /* Darker green on hover */
}

.book-details {
   /* Dark background to contrast with text */
  padding: 20px;
  border-radius: 10px;
  color: #ffffff; /* White text */
  margin: 15px 0; /* Spacing between details */
  box-shadow: 0 4px 8px rgba(105, 105, 105, 0.2); /* Subtle shadow for depth */
}


.book-details h2 {
  font-size: 20px;
  font-weight: 500;
  margin: 10px 0;
  color: #44b848; /* Green for headings */
}

.close-icon-left {
  position: fixed;
  top: 80px;  /* Adjust as needed to control vertical positioning */
  left: 20px; /* Adjust as needed to control horizontal positioning */
  z-index: 1000; /* Ensure it appears above other content */
  padding: 8px;
  cursor: pointer;
}

.close-icon-left:hover {
  background-color: rgba(201, 5, 5, 0.658); /* Light red hover effect */
  border-radius: 50%;
}








.footer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  left: 0;
  width: 97.9%;
  text-align: center;
  padding: 10px;
  background-color: #e0d8d8;
  color: #fff;
}

.footer ul {
  list-style: none;
  display: flex;
  justify-content: center; /* Center the links horizontally */
  margin: 0;
  max-width: fit-content;
  padding: 0;
  max-width: 80%;
  flex-direction: column;
  align-items: center;
}

.footer li {
  margin: 5px 0; /* Add spacing between links */
}

.footer a {
  color: #474747; /* Link color */
  text-decoration: none;
}


.footer p{
  color: #474747;
  margin: 0;
}

.error-msg {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}
